.header {
  background-image: url("../img/Layer\ 21@1X.png");
  width: 100%;
  height: 900px;
  background-size: 100% 100%;
}
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.header-first-block {
  color: white;
  padding-top: 531px;
  padding-left: 215px;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}
p {
  font-size: 1.125em;
}
.header-second-block {
  text-align: center;
  width: 831px;
  height: 129px;
  border: 1px solid white;
  font-variant: small-caps;
  font-size: 3.375em;
  padding-top: 1.15em;
  background-color: rgba(0, 0, 0, .2);
}
span {
  margin-right: 0.5em;
  color: #f1ad1d;
}
