:root{
  font-size: 16px;
}
.header {
  background-image: url("../img/Layer\ 21@1X.png");
  width: 100%;
  height: 900px;
  background-size: 100% 100%;
}
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.header-first-block {
  color: white;
  padding-top: 531px;
  padding-left: 215px;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}
p {
  font-size: 1.125em;
}
.header-second-block {
  text-align: center;
  width: 831px;
  height: 129px;
  border: 1px solid white;
  font-variant: small-caps;
  font-size: 3.375em;
  padding-top: 1.15em;
  background-color: rgba(0, 0, 0, .2);
}
span {
  margin-right: 0.5em;
  color: #f1ad1d;
}

.conteiner{
  width: 100%;
  height: 2000px;
  overflow: auto;
}

.conteiner_block_header{
  margin-top: 50px;
  text-align: center;
  font-size: 1.0625em;
}

hr{
  margin-top: 20px;
  border: none;
  background: #f1ad1d;
  width: 50px;
  height: 2px;
}

.award{
  width: 280px;
  margin: 0 auto;
  margin-top: 70px;
}
h3{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.375em;

}
.navigation{
  height: 60px;
  overflow: auto;
  border-bottom-width: 3px;
  border-bottom-color: #f1b128;
  border-bottom-style: solid;
  text-transform: uppercase;
  width: 80%;
  margin:auto;
  margin-top:80px;
  font-family: Roboto;
}
.navigation li{
  list-style: none;
  margin-left: 50px;
  float: left;
  font-size: 1.2em;
  margin-top: 3px;
}
.navigation > *{
  float: left;
}
ul{
  margin: 0;
}
.navigation > div:first-of-type{
  margin-right: 120px;
}
.sertin_class{
  font-size:1.8em;
}

